.SearchBar-input {
  border: 1px solid #c0c6cd;
  padding: 10px;
  width: 400px;
  border-radius: 3px 0 0 3px;
  border-right: 0px;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.SearchBar-input::placeholder {
  color: #c0c6cd;
}

.SearchBar-button {
  border: 1px solid #c0c6cd;
  padding: 10px 15px 10px 15px;
  border-radius: 0 3px 3px 0;
  outline: none;
  border-left: 0px;
  font-size: 1.001em;
  color: #c0c6cd;
  cursor: pointer;
}

.SearchBar-button:hover {
  background-color: #eaecee;
}
